// Primary brand color
$brand-color-primary: #e80070;
$brand-color-primary-dark: #fe5b90;
$brand-color-primary-light: #a31b50;

// Secondary brand color
$brand-color-secondary: #77127b;
$brand-color-secondary-dark: #a768a6;
$brand-color-secondary-light: #4a154b;

// Tertiary brand color
$brand-color-tertiary: #2a5595;
$brand-color-tertiary-dark: #687db0;
$brand-color-tertiary-light: #1e437a;

// Tertiary alternative brand color
$brand-color-tertiary-alternative: #c6cbe1;
$brand-color-tertiary-alternative-dark: #f7f8fb;
$brand-color-tertiary-alternative-light: #a6afd0;

// Neutral Colors
$brand-color-neutral-white: #fff;
$brand-color-neutral-black: #384553;
$brand-color-neutral-black-dark: #252c34;
$brand-color-neutral-black-light: #5e6976;

// Feedback Colors
$brand-color-feedback-success: #0fac67;
$brand-color-feedback-success-dark: #1b7749;
$brand-color-feedback-success-light: #f1fbf4;
$brand-color-feedback-warning: #ff9735;
$brand-color-feedback-warning-dark: #be670f;
$brand-color-feedback-warning-light: #fff7f0;
$brand-color-feedback-error: #fa1320;
$brand-color-feedback-error-dark: #d0141a;
$brand-color-feedback-error-light: #fff6f3;

// Data Colors
$brand-color-data-teal: #54c2b8;
$brand-color-data-teal-dark: #188c84;
$brand-color-data-teal-light: #caebe7;
$brand-color-data-sapphire: #3097aa;
$brand-color-data-sapphire-dark: #0c7092;
$brand-color-data-sapphire-light: #dae6ee;
$brand-color-data-yellow: #ffc400;
$brand-color-data-yellow-dark: #e57b08;
$brand-color-data-yellow-light: #f8efc4;
$brand-color-data-lime: #afb904;
$brand-color-data-lime-dark: #7d8314;
$brand-color-data-lime-light: #e9e7af;

