@import './brand-tokens.theme.scss';

:root {
    --brand-color-primary: $brand-color-primary;
    --brand-color-primary-dark: $brand-color-primary-dark;
    --brand-color-primary-light: $brand-color-primary-light;
    
    --brand-color-primary-alternative: $brand-color-primary-alternative;
    --brand-color-primary-alternative-dark: $brand-color-primary-alternative-dark;
    --brand-color-primary-alternative-light: $brand-color-primary-alternative-light;
    
    --brand-color-secondary: $brand-color-secondary;
    --brand-color-secondary-dark: $brand-color-secondary-dark;
    --brand-color-secondary-light: $brand-color-secondary-light;
    
    --brand-color-tertiary: $brand-color-tertiary;
    --brand-color-tertiary-dark: $brand-color-tertiary-dark;
    --brand-color-tertiary-light: $brand-color-tertiary-light;
    
    --brand-color-neutral-white: $brand-color-neutral-white;
    --brand-color-neutral-black: $brand-color-neutral-black;
    --brand-color-neutral-black-dark: $brand-color-neutral-black-dark;
    --brand-color-neutral-black-light: $brand-color-neutral-black-light;
    
    --brand-color-feedback-success: $brand-color-feedback-success;
    --brand-color-feedback-success-dark: $brand-color-feedback-success-dark;
    --brand-color-feedback-success-light: $brand-color-feedback-success-light;

    --brand-color-feedback-warning: $brand-color-feedback-warning;
    --brand-color-feedback-warning-dark: $brand-color-feedback-warning-dark;
    --brand-color-feedback-warning-light: $brand-color-feedback-warning-light;

    --brand-color-feedback-error: $brand-color-feedback-error;
    --brand-color-feedback-error-dark: $brand-color-feedback-error-dark;
    --brand-color-feedback-error-light: $brand-color-feedback-error-light;

    --brand-color-data-teal: $brand-color-data-teal;
    --brand-color-data-teal-dark: $brand-color-data-teal-dark;
    --brand-color-data-teal-light: $brand-color-data-teal-light;

    --brand-color-data-sapphire: $brand-color-data-sapphire;
    --brand-color-data-sapphire-dark: $brand-color-data-sapphire-dark;
    --brand-color-data-sapphire-light: $brand-color-data-sapphire-light;

    --brand-color-data-yellow: $brand-color-data-yellow;
    --brand-color-data-yellow-dark: $brand-color-data-yellow-dark;
    --brand-color-data-yellow-light: $brand-color-data-yellow-light;

    --brand-color-data-lime: $brand-color-data-lime;
    --brand-color-data-lime-dark: $brand-color-data-lime-dark;
    --brand-color-data-lime-light: $brand-color-data-lime-light;
}